// Place all the styles related to the customer::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

<<<<<<< HEAD
=======
.is_deleted_status{
  border-radius: 5px;
  background-color: #00CCFF;
  border: 1px solid;
}
>>>>>>> 5fd908575959246a2bef8082c7e18aa760b585bf
